<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="inputFolder" value="inputFolder\"/>
    <add key="inputFileExt" value="*.jpg"/>
    <add key="overlayFileWin" value="Win.png"/>
    <add key="overlayFileLose" value="Lose.png"/>
    <add key="outputFolder" value="outputFolder\"/>
    <add key="startRandom" value="1"/>
    <add key="endRandom" value="10"/>
    <add key="luckyNumber" value="1"/>
    <add key="maxWinner" value="5"/>
  </appSettings>
</configuration>